In [1]:
import pandas as pd
import os
import shutil

In [2]:
# для решения задачи классификации нам нужно отобрать такие классы, у которых число картинок будет максимальным
identity_csv = "identity_CelebA.csv"
identity_df = pd.read_csv(identity_csv)
# возьмем первые 200 самых встречающихся классов
top_classes = identity_df['id'].value_counts().head(200).index
# отфильтруем в identity_df только те данные, которые соответствуют top_classes
filtered_identity_df = identity_df[identity_df['id'].isin(top_classes)]
filtered_identity_df

          image_id    id
0       000001.jpg  2880
95      000096.jpg  4262
115     000116.jpg  4887
149     000150.jpg  6568
403     000404.jpg  2880
...            ...   ...
200677  200678.jpg  9256
200852  200853.jpg  9256
201864  201865.jpg  9256
201872  201873.jpg  9256
202016  202017.jpg  4978

[6038 rows x 2 columns]

In [53]:
# сохраним как identity_CelebA_mini.csv
filtered_identity_df.to_csv('identity_CelebA_mini.csv', index=False)

In [4]:
# аналогичным образом отфильтруем данные по ключевым точкам
landmarks_csv_path = 'list_landmarks_align_celeba.csv'
landmarks_data = pd.read_csv(landmarks_csv_path)
landmarks_data_filtered = landmarks_data[landmarks_data['image_id'].isin(filtered_identity_df['image_id'])]
landmarks_data_filtered

,image_id,lefteye_x,lefteye_y,righteye_x,righteye_y,nose_x,nose_y,leftmouth_x,leftmouth_y,rightmouth_x,rightmouth_y
0,000001.jpg,69,109,106,113,77,142,73,152,108,154
95,000096.jpg,69,111,108,112,91,128,74,151,103,152
115,000116.jpg,68,112,109,111,90,136,66,152,110,150
149,000150.jpg,71,112,107,110,90,137,75,153,100,153
403,000404.jpg,68,110,108,113,83,142,70,151,109,152
...,...,...,...,...,...,...,...,...,...,...,...
200677,200678.jpg,70,111,107,111,85,140,73,152,104,153
200852,200853.jpg,70,111,107,111,86,136,73,153,104,154
201864,201865.jpg,71,110,106,110,79,137,73,153,104,155
201872,201873.jpg,69,112,108,111,95,139,67,152,109,151
202016,202017.jpg,68,111,108,113,85,141,71,150,107,152

In [61]:
# сохраним
landmarks_data_filtered.to_csv('list_landmarks_align_celeba_mini.csv', index=False)

In [ ]:
# функция для переноса файлов из одной папки в другую, используя столбец image_id во фрейме df
def move_files(df, source_dir, dest_dir):
    for _, row in df.iterrows():
        src = os.path.join(source_dir, row['image_id'])
        dest = os.path.join(dest_dir, row['image_id'])
        shutil.copy(src, dest)
        
# img_align_celeba.zip можно скачать c https://drive.google.com/drive/folders/0B7EVK8r0v71pTUZsaXdaSnZBZzg?resourcekey=0-rJlzl934LzC-Xp28GeIBzQ,
# но я не стал его добавлять в гитхаб, так как много весит
# создадим папку 'img_align_celeba_mini' для переноса картинок, соотвествующих filtered_identity_df, и скопируем их туда из img_align_celeba
# !unzip -q img_align_celeba.zip
os.makedirs('img_align_celeba_mini', exist_ok=True)
move_files(filtered_identity_df, 'img_align_celeba', 'img_align_celeba_mini')